<div id="<%= dom_id assignment %>">
  <p>
    <strong>Title:</strong>
    <%= assignment.title %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= assignment.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= assignment.status %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= assignment.progress %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= assignment.classroom_id %>
  </p>

</div>
