<%= form_with(model: assignment, local: true) do |form| %>
  <%= form.hidden_field :classroom_id %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, ["Not started", "In progress", "Completed"] %>
  </div>

  <div>
    <%= form.label :progress %>
    <%= form.number_field :progress, in: 0..100 %>
  </div>

  <%= form.submit %>
<% end %>
